<!DOCTYPE html>
<html>

<head>
    <title>Rank Server</title>
    <style>
        img {
            width: 100%;
            max-width: 300px;
        }

        .column {
            float: left;
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <h1>Rank Server</h1>
    {% if err %}
    <p>Server returned error:</p>
    <p>{{ msg }}</p>
    {% else %}
    {% if done %}
    <p>Sorting complete!</p>
    <form action="/" method="POST">
        <input type="submit" name="refine" value="Refine Rankings" />
    </form>
    {% else %}
    <div class="row">
        <div class="column">
            {% if l.endswith('.txt') %}
            <b>{{ l }}</b>
            {% else %}
            <img src="/{{ l }}" sizes="(max-width: 500px) 100vw, (max-width: 900px) 50vw, 800px" alt="" />
            {% endif %}
            <br>
            <form action="/" method="POST">
                <input type="submit" name="choose_l" value="Choose" />
            </form>
        </div>
        <div class="column">
            {% if r.endswith('.txt') %}
            <b>{{ r }}</b>
            {% else %}
            <img src="/{{ r }}" sizes="(max-width: 500px) 100vw, (max-width: 900px) 50vw, 800px" alt="" />
            {% endif %}
            <br>
            <form action="/" method="POST">
                <input type="submit" name="choose_r" value="Choose" />
            </form>
        </div>
    </div>
    {% endif %}
    <hr>
    <ol>
        {% for item in rlist %}
        <li>
            {% if item.endswith('.txt') %}
            <b>{{ item }}</b>
            {% else %}
            <img src="/{{ item }}" sizes="(max-width: 500px) 100vw, (max-width: 900px) 50vw, 800px" alt="" />
            {% endif %}
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</body>

</html>