<!DOCTYPE html>
<html>

<head>
    <title>Stamp Server</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <h1>Stamp Server</h1>
    {% if err %}
    <p>{{ msg }}</p>
    {% else %}
    {% if ftype == "PNG" %}
    <img src="/{{ file }}" alt="" />
    {% elif ftype == "MP4" %}
    <video controls loop width="250">
        <source src="/{{ file }}" type="video/mp4" />
    </video>
    {% elif ftype == "WEBM_EXT" %}
    <video controls loop width="250">
        <source src="{{ file }}" type="video/webm" />
    </video>
    {% endif %}
    <form action="/{{ root }}" method="POST">
        <br><br>
        <br><br>
        <br><br>
        <textarea id="text" name="text" rows="1" cols="10"></textarea>
        <br><br>
        <br><br>
        <br><br>
        <input type="submit" value="Submit!">
    </form>
    {% endif %}
</body>

</html>